footer {
    background: #3F4B5B;
    color: #fff;
    height: 60px;
}

.myfooter  {
    padding-top: 15px;
}

.pagination li.active {
    background-color: #3F4B5B;
    color: white;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #3F4B5B;
    border-color: #3F4B5B;
}

.liked {
    color: red;
}

.unliked {
    color: gray;
}